@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fontsize);
    font-family: var(--fuenteprincipal);
    background: linear-gradient(#e092a0, #c7e422);
}

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 800px;
}

.wrapper {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

.container {

    background-color: darkcyan;
    width: 100%;
    padding: 10px;

}

header div.container {
    width: 100%;
    margin: 0 auto;

}

header {

    background-color: darkcyan;
    color: white;
    padding-bottom: 0.5em;

}

header .container div {
    display: flex;
    justify-content: space-between;
    margin: var(--margingrid) 0;
}

h1 {
    text-align: center;
    font-family: var(--fuentetitulos);
    padding-top: 0.5em;
}

header form input:nth-child(2) {
    width: 250px;
}

header hr {
    margin: 0.5em;
}

/*inicio de main*/
main article {
    width: 100%;
    text-align: left;
    border: 2px solid black;
    border-color: silver;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0.5em;
}

main .container {
    margin: 0 auto;
}

main article.urgente {
    background-color: firebrick;

}

main article.diario {
    background-color: lightblue;

}

main article.mensual {
    background-color: lawngreen;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

main article h3 {
    width: calc(95% - 10px);

}




main article div {
    width: 5%;
}


main article div button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

input,
select {
    padding: 5px;
    margin: 5px;

}


@media(min-width: 768px) {
    main .flex article {
        width: calc(50% - 10px);
    }

    main article h3 {
        width: calc(90% - 10px);

    }


}

@media(min-width: 1004px) {
    main .flex article {
        width: calc(33.33% - 10px);
    }

    main article h3 {
        width: calc(90% - 10px);

    }
}